$bleu-vert : #00bfba;
$bleu : #0c9cbe;
$realy-blue : #3874ff;
$violet : #ff65ff;
$bleu-marine : #1e1235;

#doctors{
  h2{
    text-align: center;
  }
  .cards{
    display : flex;
    flex-wrap: wrap;

    .card{
      background-color: #62719413;
      transition : box-shadow 0.4s , background 0.4s;
      margin-bottom: 20px;
      img{
        height : 300px;
      }
      &:hover{
        box-shadow : 10px 10px 10px #ccc;
        background-color: #62719434;
      }
    }
  }
}
