$bleu-vert : #00bfba;
$bleu : #0c9cbe;
$realy-blue : #3874ff;
$violet : #ff65ff;
#appointment{
  display : flex;
  flex-direction:row-reverse;
  justify-content: start;
  height : 100vh;
  img{
    width : 600px;
  }

  .form{
    margin: 50px;
    margin-top: 0;
    text-align: center;
    display : flex;
    flex-direction: column;
    align-items: center;
    form{
      border-radius: 20px;
      border : 3px solid $realy-blue;
      background-color: #3874ff3f;
      display : flex;
      flex-direction: column;
      align-items: center;
      width : 300px;
      input{
        text-align: center;
        width : 80%;
        background-color: #00e6de42;
        border-radius: 20px;
        border-color: $realy-blue;
        border-style: solid;
        padding : 10px;
        margin : 5px;
        transition : background-color 0.4s , 
                     box-shadow 0.4s;
        &:focus{
          background-color: #00d8d1b2;
          box-shadow : 0 5px 10px #586575b6;
          outline: none;
        }
        &:hover{
          box-shadow : 0 5px 10px #586575b6;
        }
      }
      button{
        width : 100px;
        background-color: $bleu;
        border-radius: 20px;
        border-color: $realy-blue;
        border-style: solid;
        padding : 10px;
        margin : 5px;
        transition : background-color 0.4s , 
                     box-shadow 0.4s;
        &:hover{
          background-color:$realy-blue;
          box-shadow : 0 5px 10px #586575b6;
        }
      }
    }
    
  }
}