$bleu-vert : #00bfba;
$bleu : #0c9cbe;
$realy-blue : #3874ff;
$violet : #ff65ff;
#appointment{
  display : flex;
  flex-direction:row-reverse;
  justify-content: start;
  flex-wrap: wrap;
  margin : 20px;
  img{
    width : 600px;
  }

  .form{
    margin: 50px;
    margin-top: 0;
    width : 500px;
    text-align: center;
    display : flex;
    flex-direction: column;
    align-items: center;
    
  }
}